@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary-font: "Poppins", sans-serif;
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
    .home__contact {
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #0085ff 0%, #1277d5 100%);
        position: relative;
        width: 100%;
        height: 203px;
        margin-top: 5%;
        padding: 0 18%;
        p {
            background-color: transparent;
        }
        a {
            background-color: transparent;
            position: relative;
            width: 16%;
            height: 51px;
            border: 3px solid #ffffff;
            box-sizing: border-box;
            border-radius: 50px;
            align-items: center;
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: #ffffff;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }
        p:nth-child(1) {
            position: relative;
            width: 26%;
            height: 113px;
            font-family: "Poppins", sans-serif;
            font-style: italic;
            font-weight: bold;
            font-size: 36px;
            line-height: 54px;
            color: #ffffff;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        p:nth-child(2) {
            position: relative;
            width: 65%;
            height: 72px;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #d3eaff;
            justify-content: center;
        }
    }
}
@media only screen and (min-width: 400px) and (max-width: 1199px) {
    .home__contact {
        display: flex;
        background: linear-gradient(90deg, #0085ff 0%, #1277d5 100%);
        position: relative;
        width: 100%;
        margin-top: 5%;
        padding: 5% 18%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            background-color: transparent;
            text-align: center;
        }
        a {
            background-color: transparent;
            position: relative;
            width: 50%;
            height: 50px;
            border: 3px solid #ffffff;
            box-sizing: border-box;
            border-radius: 50px;
            align-items: center;
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: #ffffff;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            margin-top: 5%;
        }
        p:nth-child(1) {
            position: relative;
            width: 100%;
            font-family: "Poppins", sans-serif;
            font-style: italic;
            font-weight: bold;
            font-size: 36px;
            line-height: 54px;
            color: #ffffff;
        }
        p:nth-child(2) {
            position: relative;
            width: 100%;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #d3eaff;
        }
    }
}
