@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary-font: "Poppins", sans-serif;

@media only screen and (min-width: 1200px) and (max-width: 2400px) {
    .home__about {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        padding-top: 5%;
        padding-left: 12%;
        padding-right: 12%;
        .home_about_titleDesc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            p {
                position: relative;
                height: 72px;
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 72px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #333535;
                display: flex;
                align-items: center;
                text-align: center;
                color: #6c6c6c;
            }
            small {
                position: relative;
                margin-top: 30px;
                width: 401px;
                height: 24px;
                font-family: $primary-font;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */

                display: flex;
                align-items: center;
                text-align: center;

                color: #6c6c6c;
            }
        }
        .home_about_sight {
            display: flex;
            width: 100%;
            position: relative;
            .home_about_sight_pictures {
                width: 100%;
                position: absolute;
                img:nth-child(1) {
                    position: relative;
                    width: 40%;
                    background-color: transparent;
                    left: 10%;
                }
                img:nth-child(2) {
                    position: relative;
                    width: 20%;
                    left: -34.15%;
                    background-color: transparent;
                    padding-top: 20%;
                }
                img:nth-child(3) {
                    position: relative;
                    width: 15%;
                    left: -25.15%;
                    padding-top: 20%;
                    background-color: transparent;
                }
                img:nth-child(4) {
                    position: relative;
                    padding-bottom: 22%;
                    left: -61.15%;
                    background-color: transparent;
                }
            }
            .home_about_sight_content {
                position: absolute;
                width: 55%;
                left: 56.5%;
                display: flex;
                margin-top: 12%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p {
                    position: relative;
                    font-family: "Poppins", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 72px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    color: #333535;
                }
                small {
                    position: relative;
                    font-family: "Poppins", sans-serif;
                    font-style: italic;
                    font-weight: 585px;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    color: #6c6c6c;
                }
            }
        }
        .home_about_mission {
            display: flex;
            width: 100%;
            position: relative;
            align-items: center;
            justify-content: flex-start;
            .home_about_mission_content {
                position: relative;
                width: 65%;
                padding-top: 50%;
                padding-left: 5%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                p {
                    position: relative;
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 72px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: #333535;
                }
                small {
                    width: 70%;
                    margin-top: 5%;
                    position: relative;
                    font-family: $primary-font;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    color: #6c6c6c;
                }
                a {
                    position: relative;
                    padding: 14px 52px;
                    background: #0085ff;
                    border-radius: 10px;
                    color: #ffffff;
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    margin-top: 5%;
                    border: none;
                    text-align: center;
                    text-decoration: none;
                    width: 200px;
                    cursor: pointer;
                }
            }
            img {
                position: relative;
                width: 35%;
                padding-top: 50%;
            }
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 1199px) {
    .home__about {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 5%;
        padding-left: 12%;
        padding-right: 12%;
        .home_about_titleDesc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            p {
                position: relative;
                margin-right: 10%;
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 72px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #333535;
                display: flex;
                align-items: center;
                text-align: center;
                color: #6c6c6c;
                
            }
            small {
                position: relative;
                font-family: $primary-font;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */

                display: flex;
                align-items: center;
                text-align: center;

                color: #6c6c6c;
            }
        }
        .home_about_sight {
            display: flex;
            position: relative;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            .home_about_sight_pictures {
                position: relative;
                display: flex;
                img:nth-child(1) {
                    position: relative;
                    width: 33%;
                    height: 200px;
                    background-color: transparent;
                }
                img:nth-child(2) {
                    position: relative;
                    width: 33%;
                    height: 200px;
                    background-color: transparent;
                }
                img:nth-child(3) {
                    position: relative;
                    width: 33%;
                    height: 200px;
                    background-color: transparent;
                }
            }
            .home_about_sight_content {
                position: relative;
                width: 100%;
                margin-top: 10%;
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    font-family: "Poppins", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 72px;
                    display: flex;
                    align-items: center;
                    color: #333535;
                    margin-bottom: 26px;
                    text-align: center;
                    position: relative;
                    text-align: center;
                }
                small {
                    font-family: "Poppins", sans-serif;
                    font-style: italic;
                    font-weight: 585px;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    color: #6c6c6c;
                    text-align: center;
                }
            }
        }
        .home_about_mission {
            display: flex;
            position: relative;
            flex-direction: column;
            width: 100%;
            .home_about_mission_content {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p {
                    position: relative;
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 72px;
                    /* identical to box height */

                    display: flex;
                    text-align: center;

                    color: #333535;
                }
                small {
                    position: relative;
                    text-align: center;
                    font-family: $primary-font;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    color: #6c6c6c;
                }
                a {
                    position: relative;
                    width: 162px;
                    height: 51px;
                    padding: 14px 52px;
                    top: 60px;
                    background: #0085ff;
                    border-radius: 10px;
                    color: #ffffff;
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height */
                    border: none;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            img {
                position: relative;
                width: 100%;
            }
        }
    }
}