@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary-font: "Poppins", sans-serif;
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
    .home__services {
        position: relative;
        width: 100%;
        height: 780px;
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 8%;
        display: flex;
        .home__services__imgs {
            position: relative;
            width: 50%;
            height: fit-content;
            top: 15%;
            img:nth-child(1) {
                position: absolute;
                width: 409px;
                height: 256px;
                left: 12%;
                border-radius: 28px;
            }
            img:nth-child(2) {
                position: absolute;
                width: 218px;
                height: 147px;
                left: -5%;
                top: 180px;
                border-radius: 28px;
            }
            img:nth-child(3) {
                position: absolute;
                width: 280px;
                height: 189px;
                left: -5%;
                top: -100px;
                border-radius: 28px;
            }
        }
        .home__services__content {
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            background-color: transparent;
            padding-left: 5%;
            margin-top: -7.5%;
            p {
                background-color: transparent;
                position: relative;
                width: 100%;
                height: fit-content;
                font-family: $primary-font;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 72px;
                display: flex;
                align-items: center;
                color: #333535;
            }
            .home__services__content__text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left: 5%;
                margin-top: 2%;
                small {
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    background-color: transparent;
                    color: #6c6c6c;
                }
            }
            small {
                font-family: $primary-font;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                background-color: transparent;
                color: #6c6c6c;
            }
            a {
                position: relative;
                width: 188px;
                height: 51px;
                padding: 14px 42px;
                top: 2%;
                background: #0085ff;
                border-radius: 10px;
                color: #ffffff;
                font-family: $primary-font;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */
                border: none;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 1199px) {
    .home__services {
        position: relative;
        width: 100%;
        height: 780px;
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .home__services__imgs {
            position: relative;
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img:nth-child(1) {
                position: relative;
                width: 30%;
                border-radius: 28px;
            }
            img:nth-child(2) {
                position: relative;
                width: 30%;
                border-radius: 28px;
            }
            img:nth-child(3) {
                position: relative;
                width: 30%;
                border-radius: 28px;
            }
        }
        .home__services__content {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: transparent;
            padding-left: 5%;
            margin-top: 20%;
            align-items: center;
            justify-content: center;
            p {
                background-color: transparent;
                position: relative;
                width: fit-content;
                height: fit-content;
                font-family: $primary-font;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 72px;
                display: flex;
                align-items: center;
                color: #333535;
            }
            .home__services__content__text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left: 5%;
                margin-top: 2%;
                small {
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    background-color: transparent;
                    color: #6c6c6c;
                }
            }
            small {
                font-family: $primary-font;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                background-color: transparent;
                color: #6c6c6c;
            }
            
        }
        a {
            position: relative;
            width: 188px;
            height: 51px;
            padding: 14px 42px;
            top: 5%;
            background: #0085ff;
            border-radius: 10px;
            color: #ffffff;
            font-family: $primary-font;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height */
            border: none;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

