@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary-font: "Poppins", sans-serif;
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
    .home__introduction {
        position: relative;
        padding-top: 5%;
        width: 100%;
        padding-left: 12%;
        height: 777px;
        display: flex;

        .home__introduction__right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            p {
                position: relative;
                width: 100%;
                height: 288px;
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 64px;
                line-height: 96px;
                display: flex;
                align-items: center;
                color: #333535;
            }
            small {
                position: relative;
                width: 40%;
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #6c6c6c;
            }
            .home__introduction__contactbox {
                position: relative;
                width: 65%;
                height: 71px;
                background: #ffffff;
                box-shadow: 0px 15px 22px rgb(218 218 218 / 25%);
                border-radius: 15px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                input {
                    position: relative;
                    height: 21px;
                    width: 65%;
                    font-family: $primary-font;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    /* identical to box height */
                    outline: none;
                    border: none;
                    color: #777777;
                    background-color: #ffffff;
                }
                button {
                    position: relative;
                    width: 135px;
                    height: 51px;
                    background: #0085ff;
                    border-radius: 10px;
                    border: none;
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height */
                    cursor: pointer;
                    text-align: center;

                    color: #ffffff;
                }
            }
        }

        .home__introduction__left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            .home__introduction__left__trust {
                position: absolute;
                z-index: 2;
                width: 200px;
                height: 89px;
                top: 35%;
                background: #ffffff;
                box-shadow: 6px 9px 29px rgba(201, 201, 201, 0.25);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                img{
                    position: relative;
                }

                .home__introduction__left__trust__texts {
                    width: 50%;
                    background-color: #ffffff;
                    position: relative;
                    p:nth-child(1) {
                        background-color: transparent;
                        position: relative;
                        width: 85px;
                        height: 36px;
                        font-family: $primary-font;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 36px;
                        /* identical to box height */

                        display: flex;
                        align-items: center;

                        color: #333535;
                    }
                    p:nth-child(2) {
                        position: relative;
                        background-color: transparent;
                        width: 124px;
                        height: 18px;
                        font-family: $primary-font;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        /* identical to box height */

                        display: flex;
                        align-items: center;

                        color: #6c6c6c;
                        svg {
                            width: 12px;
                            height: 12px;
                            color: #00d73c;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .home__introduction__left__countries {
                position: relative;
                z-index: 2;
                width: 311px;
                height: 200px;  
                background: rgba(255, 255, 255, 0.95);
                box-shadow: 6px 9px 29px rgba(201, 201, 201, 0.25);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                padding: 4% 3%;
                align-items: flex-start;
                justify-content: space-between;
                top: 59%;
                left: 30%;
                p:nth-child(1) {
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 27px;
                    display: flex;
                    align-items: center;
                    color: #333535;
                }
                p:nth-child(2) {
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    color: #6c6c6c;
                }
                .home__introduction__left__countries_flags {
                    position: relative;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        width: 32px;
                        height: 32px;
                    }
                    a {
                        position: relative;
                        width: 42px;
                        height: 20px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 15px;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: #a6a6a6;
                    }
                }
            }
            >img{
                position: relative;
                margin-top: -20%;
                z-index: 1;
            }
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 1199px) {
    .home__introduction {
        position: relative;
        padding-top: 5%;
        width: 100%;
        padding-left: 12%;
        padding-right: 12%;
        display: flex;
        flex-direction: column;

        .home__introduction__right {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-top: 5%;
            p {
                position: relative;
                width: 100%;
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 64px;
                line-height: 96px;
                display: flex;
                align-items: center;
                color: #333535;
            }
            small {
                position: relative;
                width: 100%;
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #6c6c6c;
            }
            .home__introduction__contactbox {
                position: relative;
                width: 100%;
                height: 71px;
                background: #ffffff;
                box-shadow: 0px 15px 22px rgb(218 218 218 / 25%);
                border-radius: 15px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                input {
                    position: relative;
                    height: 21px;
                    width: 65%;
                    font-family: $primary-font;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    /* identical to box height */
                    outline: none;
                    border: none;
                    color: #777777;
                    background-color: #ffffff;
                }
                button {
                    position: relative;
                    width: 135px;
                    height: 51px;
                    background: #0085ff;
                    border-radius: 10px;
                    border: none;
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height */
                    cursor: pointer;
                    text-align: center;

                    color: #ffffff;
                }
            }
        }
        .home__introduction__left {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-top: 10%;
            .home__introduction__left__trust {
                position: absolute;
                z-index: 2;
                width: 212px;
                top: 40%;
                left: 20%;
                background: #ffffff;
                box-shadow: 6px 9px 29px rgba(201, 201, 201, 0.25);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                img{
                    position: relative;
                }

                .home__introduction__left__trust__texts {
                    width: 50%;
                    background-color: #ffffff;
                    position: relative;
                    p:nth-child(1) {
                        background-color: transparent;
                        position: relative;
                        width: 85px;
                        height: 36px;
                        font-family: $primary-font;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 36px;
                        /* identical to box height */

                        display: flex;
                        align-items: center;

                        color: #333535;
                    }
                    p:nth-child(2) {
                        position: relative;
                        background-color: transparent;
                        width: 124px;
                        height: 18px;
                        font-family: $primary-font;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        /* identical to box height */

                        display: flex;
                        align-items: center;

                        color: #6c6c6c;
                        svg {
                            width: 12px;
                            height: 12px;
                            color: #00d73c;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .home__introduction__left__countries {
                position: absolute;
                z-index: 2;
                width: 260px;
                background: rgba(255, 255, 255, 0.95);
                box-shadow: 6px 9px 29px rgba(201, 201, 201, 0.25);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                padding: 4% 3%;
                align-items: flex-start;
                justify-content: space-between;
                top: 65%;
                left: 10%;
                p:nth-child(1) {
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 27px;
                    display: flex;
                    align-items: center;
                    color: #333535;
                }
                p:nth-child(2) {
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    color: #6c6c6c;
                }
                .home__introduction__left__countries_flags {
                    position: relative;
                    width: 240px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        width: 32px;
                        height: 32px;
                    }
                    a {
                        position: relative;
                        width: 42px;
                        height: 20px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 15px;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: #a6a6a6;
                    }
                }
            }
            >img{
                position: relative;
                z-index: 1;
                width: 400px;
                height: 600px;
            }
        }
    }
}


