@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary-font: "Poppins", sans-serif;
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
    .home__reason {
        position: relative;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        padding-left: 12%;
        padding-right: 12%;
        margin-top: 15%;
        .home__reason_titleDesc {
            position: relative;
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            p {
                position: relative;
                width: fit-content;
                height: 72px;
                font-family: $primary-font;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 72px;
                display: flex;
                align-items: center;
                text-align: center;

                color: #333535;
            }
            small{
                position: relative;
                
                /* width: 401px; */
                height: 24px;
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                /* align-items: center; */
                /* text-align: center; */
                color: #6c6c6c;
                /* left: 400px;*/
            }
            small:nth-child(2){
                margin-top: 30px;
            }
            small:nth-child(3){
                margin-bottom: 30px;
            }
        }
        .home__reason__box {
            height: 75%;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            position: relative;
            margin-top: 5%;
            .home__reason__box__rowOne {
                display: flex;
                width: 100%;
                
                .home__reason_boxOne {
                    position: relative;
                    width: 50%;
                    height: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        position: relative;
                    }
                    .home__reason_boxOne_content {
                        position: relative;
                        p {
                            position: relative;
                            width: 290px;
                            height: 27px;

                            font-family: $primary-font;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 27px;

                            display: flex;
                            align-items: center;
                            color: #333535;
                            br {
                                display: inline;
                            }
                        }
                        small {
                            position: relative;
                            width: 303px;
                            height: 63px;

                            font-family: $primary-font;
                            font-style: italic;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            display: flex;
                            align-items: center;

                            color: #909090;
                        }
                    }
                }
                .home__reason_boxTwo {
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    height: 25%;
                    display: flex;
                    img {
                        position: relative;
                    }
                    .home__reason_boxTwo_content {
                        position: relative;
                        p {
                            position: relative;
                            width: 290px;
                            height: 27px;

                            font-family: $primary-font;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 27px;
                            /* identical to box height */

                            display: flex;
                            align-items: center;
                            color: #333535;
                            br {
                                display: inline;
                            }
                        }
                        small {
                            position: relative;
                            width: 303px;
                            height: 63px;

                            font-family: $primary-font;
                            font-style: italic;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            display: flex;
                            align-items: center;

                            color: #909090;
                        }
                    }
                }
            }
            .home__reason__box__rowTwo {
                display: flex;
                width: 100%;
                margin-top: 5%;
                align-items: center;
                justify-content: center;
                .home__reason_boxThree {
                    position: relative;
                    width: 50%;
                    height: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        position: relative;
                    }
                    .home__reason_boxThree_content {
                        position: relative;
                        p {
                            position: relative;
                            width: 290px;
                            height: 27px;

                            font-family: $primary-font;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 27px;
                            /* identical to box height */

                            display: flex;
                            align-items: center;
                            color: #333535;
                            br {
                                display: inline;
                            }
                        }
                        small {
                            position: relative;
                            width: 303px;
                            height: 63px;

                            font-family: $primary-font;
                            font-style: italic;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            display: flex;
                            align-items: center;

                            color: #909090;
                        }
                    }
                }
                .home__reason_boxFour {
                    position: relative;
                    width: 50%;
                    height: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        position: relative;
                    }
                    .home__reason_boxFour_content {
                        position: relative;
                        p {
                            position: relative;
                            width: 290px;
                            height: 27px;

                            font-family: $primary-font;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 27px;
                            /* identical to box height */

                            display: flex;
                            align-items: center;
                            color: #333535;
                            br {
                                display: inline;
                            }
                        }
                        small {
                            position: relative;
                            width: 303px;
                            height: 63px;

                            font-family: $primary-font;
                            font-style: italic;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            display: flex;
                            align-items: center;

                            color: #909090;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 1199px) {
    .home__reason {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 12%;
        padding-right: 12%;
        margin-top: 100px;
        align-items: center;
        justify-content: center;
        .home__reason_titleDesc {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex: 1;
            p {
                position: relative;
                width: fit-content;
                font-family: $primary-font;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 72px;
                display: flex;
                align-items: center;
                text-align: center;

                color: #333535;
            }
            small {
                position: relative;
                /* width: 401px; */
                height: 24px;
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                /* align-items: center; */
                /* text-align: center; */
                color: #6c6c6c;
                /* left: 400px;*/
            }
        }
        .home__reason__box {
            width: 80%;
            position: relative;
            margin-top: 5%;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-top: 10%;
            padding-left: 15%;
            padding-right: 15%;
            .home__reason__box__rowOne {
                display: flex;
                width: 100%;
                flex-direction: column;
                .home__reason_boxOne {
                    position: relative;
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    img {
                        position: relative;
                    }
                    .home__reason_boxOne_content {
                        position: relative;
                        p {
                            position: relative;
                            width: 100%;
                            font-family: $primary-font;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 27px;

                            display: flex;
                            align-items: center;
                            color: #333535;
                            br {
                                display: inline;
                            }
                        }
                        small {
                            position: relative;
                            width: 100%;

                            font-family: $primary-font;
                            font-style: italic;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            display: flex;
                            align-items: center;

                            color: #909090;
                        }
                    }
                }
                .home__reason_boxTwo {
                    position: relative;
                    width: 100%;
                    display: flex;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 10%;
                    img {
                        position: relative;
                    }
                    .home__reason_boxTwo_content {
                        position: relative;
                        p {
                            position: relative;
                            width: 100%;
                            font-family: $primary-font;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 27px;
                            /* identical to box height */

                            display: flex;
                            align-items: center;
                            color: #333535;
                            br {
                                display: inline;
                            }
                        }
                        small {
                            position: relative;
                            width: 100%;
                            font-family: $primary-font;
                            font-style: italic;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            display: flex;
                            align-items: center;

                            color: #909090;
                        }
                    }
                }
            }
            .home__reason__box__rowTwo {
                display: flex;
                width: 100%;
                flex-direction: column;
                .home__reason_boxThree {
                    margin-top: 10%;
                    position: relative;
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    img {
                        position: relative;
                    }
                    .home__reason_boxThree_content {
                        position: relative;
                        p {
                            position: relative;
                            width: 100%;

                            font-family: $primary-font;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 27px;
                            /* identical to box height */

                            display: flex;
                            align-items: center;
                            color: #333535;
                            br {
                                display: inline;
                            }
                        }
                        small {
                            position: relative;
                            width: 100%;

                            font-family: $primary-font;
                            font-style: italic;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            display: flex;
                            align-items: center;

                            color: #909090;
                        }
                    }
                }
                .home__reason_boxFour {
                    position: relative;
                    width: 100%;
                    display: flex;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 10%;
                    img {
                        position: relative;
                    }
                    .home__reason_boxFour_content {
                        position: relative;
                        p {
                            position: relative;
                            width: 100%;

                            font-family: $primary-font;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 27px;
                            /* identical to box height */

                            display: flex;
                            align-items: center;
                            color: #333535;
                            br {
                                display: inline;
                            }
                        }
                        small {
                            position: relative;
                            width: 100%;

                            font-family: $primary-font;
                            font-style: italic;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            display: flex;
                            align-items: center;

                            color: #909090;
                        }
                    }
                }
            }
        }
    }
}
