@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary-font: "Poppins", sans-serif;
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
    .aboutUs__passion {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: 3% 12% 0 12%;
        margin-bottom: 50px;
        .aboutUs__passion__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            p {
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                font-family: $primary-font;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 72px;
                text-align: center;
                color: #333535;
                text-align: center;
                padding-top: 24%;
                margin-bottom: 5%;
            }
            .aboutUs__passion__content__line {
                width: 80%;
                height: 1px;
                border: 1px solid black;
                margin-bottom: 30px;
            }
            small {
                margin-top: 5%;
                position: relative;
                width: 80%;
                font-family: $primary-font;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #6c6c6c;
                text-align: center;
            }
            .aboutUs__passion__content__user {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
                justify-content: flex-start;
                width: 100%;
                img {
                    width: 5%;
                }
                .aboutUs__passion__content__user__content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 5%;
                    p {
                        position: relative;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        font-family: $primary-font;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #333535;
                        text-align: center;
                    }
                    small {
                        margin-top: 10px;
                        position: relative;
                        font-family: $primary-font;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        text-align: center;
                        color: #6c6c6c;
                    }
                }
            }
            img {
                width: 50%;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
}
@media only screen and (min-width: 400px) and (max-width: 1159px) {
    .aboutUs__passion {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: 3% 12% 0 12%;
        margin-bottom: 50px;
        .aboutUs__passion__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            p {
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                font-family: $primary-font;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 72px;
                text-align: center;
                color: #333535;
                text-align: center;
                padding-top: 24%;
                margin-bottom: 5%;
            }
            .aboutUs__passion__content__line {
                width: 80%;
                height: 1px;
                border: 1px solid black;
                margin-bottom: 30px;
            }
            small {
                margin-top: 5%;
                position: relative;
                width: 80%;
                font-family: $primary-font;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #6c6c6c;
                text-align: center;
            }
            .aboutUs__passion__content__user {
                display: flex;
                margin-top: 5%;
                align-items: center;
                justify-content: flex-start;
                img {
                    width: 15%;
                    height: 80%;
                }
                .aboutUs__passion__content__user__content {
                    display: flex;
                    flex-direction: column;
                    margin-left: 5%;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding-bottom: 5%;
                    p {
                        position: relative;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        font-family: $primary-font;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #333535;
                        width: 100%;
                        text-align: left;
                    }
                    small {
                        margin-top: 5%;
                        position: relative;
                        width: 100%;
                        font-family: $primary-font;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        display: flex;
                        align-items: center;
                        color: #6c6c6c;
                    }
                }
            }
            img {
                width: 80%;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
}
