@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary-font: "Poppins", sans-serif;

@media only screen and (min-width: 1200px) and (max-width: 2400px){
    .aboutUs__handling {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        padding: 5% 12% 3% 12%;
        p {
            position: relative;
            padding-right: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $primary-font;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 72px;
            text-align: center;
            color: #333535;
        }
        small {
            margin-top: 20px;
            position: relative;
            width: 100%;
            padding-right: 110px;
            height: 48px;
            font-family: $primary-font;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #6c6c6c;
        }
        .aboutUs__handling__content{
            display: flex;
            margin-top: 50px;
        }
    }
}
@media only screen and (min-width: 400px) and (max-width: 1199px){
    .aboutUs__handling {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 5% 12% 3% 12%;
        p {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $primary-font;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 72px;
            text-align: center;
            color: #333535;
        }
        small {
            margin-top: 20px;
            position: relative;
            width: fit-content;
            font-family: $primary-font;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #6c6c6c;
        }
        .aboutUs__handling__content{
            display: flex;
            flex-direction: column;
        }
    }
}
