@media only screen and (min-width: 1600px) and (max-width: 2400px) {
    .header {
        display: flex;
        padding: 3% 12% 0 12%;
        width: 100%;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1599px) {
    .header {
        display: flex;
        padding: 3% 12% 0 12%;
        width: 100%;
    }
}

